body {
    background: #eee;
}

h1 {
    text-align: center;
    margin-bottom: 5px;
}

.info {
    text-align: center;
    width: 400px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bold;
    color: #666;
    margin-bottom: 20px;
}

#game-base {
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
    left: 30%;
}

#game-table {
    margin: 0 auto;
    /*background:url("http://img.sr/images/2014/01/28/base.png") 0 0 no-repeat;*/
    position: relative;
}

.disc {
    position: absolute;
    z-index: -1;
    top: -55px;
    left: 14px;
    width: 46px;
    height: 46px;
    border-radius: 46px;
    transition: all .3s;
}

.cell {
    border: black solid 1px;
    width: 100px;
    height: 100px;
    background: url("./img/cell_bg.png")
}

.col {
    float: left;
}